@using WDT_A2MVC.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.ss - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>

        img {
            vertical-align: middle;
        }
    </style>


    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.migrate/jquery-migrate-1.2.1.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/respond/1.2.0/respond.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"></script>

  
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">


    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  

    <script src='@Url.Content("~/Scripts/bootbox.min.js")'></script>
 


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">




</head>
<body>

    <!-- NAV BAR -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @(Html.ActionLink("Whiz-bang!", "Index", "Products", new { }, new { @class = "navbar-brand" }))

            </div>
            <div class="navbar-collapse collapse">
           
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("View Cart", "Index", "Cart")</li>
                    @if (Object.Equals(Session["User"],null) || !((User) Session["User"]).loggedIn)
                    {
                        <li>@Html.ActionLink("Register", "Index", "Register")</li>
                        <li>@Html.ActionLink("Login", "LogIn", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(((User) Session["User"]).Username + "'s Details", "Index", "Users")</li>
                        <li>@Html.ActionLink("Logout", "LogOut", "Users")</li>
                    }
                    <li>@Html.ActionLink("Site Map", "Index", "Sitemap")</li>

                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <h1><img src="images/whizbang.png" style="width: 20%; height: 20%" alt="Whiz-bang - A whiz-bang of wonders!" /></h1>

    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
